.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.6); /* Black w/ opacity */
}

.modal-content {
    background-color: #fff; /* White background */
    margin: 10% auto; /* 10% from the top and centered */
    padding: 20px; /* Some padding */
    border: 1px solid #888; /* Gray border */
    border-radius: 8px; /* Rounded corners */
    width: 80%; /* Could be more or less, depending on screen size */
    max-width: 500px; /* Max width */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow effect */
}

.close {
    color: #aaa; /* Gray */
    float: right; /* Float to the right */
    font-size: 28px; /* Big */
    font-weight: bold; /* Bold */
}

.close:hover,
.close:focus {
    color: black; /* Change color on hover */
    text-decoration: none; /* No underline */
    cursor: pointer; /* Pointer cursor on hover */
}

#addToCartButton {
    background-color: #e7772d; /* Custom button color */
    color: white; /* Text color */
    border: none; /* Remove border */
    padding: 10px 20px; /* Padding for the button */
    font-size: 16px; /* Font size */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s; /* Smooth transition */
    margin-top: 20px; /* Space above the button */
}

#addToCartButton:hover {
    background-color: #d46826; /* Darker shade for hover effect */
}