.form{
   box-shadow: 0px 0px 20px 1px rgb(173, 171, 171);
   border-radius: 10px;
   background-color: rgb(255, 255, 255);
}
.register-btn{
    background-color: rgb(252, 155, 11);
    padding: 15px;
    border: none;
     width: 400px;
     color: aliceblue;
     font-size: 20px;
     font-family: "Acme", sans-serif;
     transition: 0.3s;
}
.register-btn:active{
     color: black
}
.register-btn:hover{
   transform: scale(101%);
   background-color: rgb(236, 138, 46);
   cursor: pointer;
}
.register{
     font-weight: bold; 
     font-family: "Acme", sans-serif;
     color: #e7772d;
}
